

<app-header></app-header>
  <ul >
    <li *ngFor="let p of product;">
      <h2>{{p.description | uppercase}} </h2>
    <div><span>Description: </span>{{p.long_description}}</div>
    <div><span>{{p.sku_attribute1}}: </span>{{p.sku_attribute_value1}}</div>
    <div><span>{{p.sku_attribute2}}: </span>{{p.sku_attribute_value2}}</div>
    <div><span>Price: $</span>  {{p.list_price}}</div>
    <img src='http://localhost:8080/products/image-manual-response?id={{p.item_number}}'/>
      
    </li>
  </ul>

  
  <app-footer></app-footer>