<app-header></app-header>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<h2>Products</h2>
<!--
<ul >
  <li *ngFor="let p of products; ">
    
    <img src='http://localhost:8080/products/image-manual-response?id={{p.item_number}}'/>

    <a routerLink="/product-details/{{p.item_number}}">
      <span class="badge">  {{p.description}} </span>
   </a>
  </li>
</ul>
-->
<!--
<div class="row">
  
  <div class="col-lg-3">
    
      <div class="input-group add-on">
         
        <input class="form-control"  [(ngModel)]="productData.searchtxt">
        <div class="input-group-btn">
          <button class="btn btn-default" (click)="searchProducts()" >
              <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
        
      </div>
   
  </div>
</div>
-->
<!--
<div class="row">
  <div class="col-lg-12" *ngFor="let itm of skuAttribute; let i = index">
    <span>{{ itm.Attribute1 }} </span>
    <div class="row"> 
    <div *ngFor="let itm1 of itm.Attribute1Value">
         &nbsp;&nbsp;{{ itm1 }}
    </div>
    </div>
  </div>
</div>
-->

<div class="row">
  <div class="col-lg-3" *ngFor="let item of products; let i = index">
    <div class="card" style="border-color: rgba(0, 255, 255, 0.192);">
      <div class="col-lg-2">
        <img src='{{imageService}}id={{item.item_number}}' height="170" width="200"  alt="...">
      </div>
      <div class="card-body">
     
        <p class="card-text" style="font-size:large">{{ item.description }}</p>
        <p class="card-text">Price: $ <span style="font-weight:bolder; font-size: larger;" > {{item.list_price}}</span></p>
        <p class="card-text">{{item.sku_attribute1}}: {{item.sku_attribute_value1}}</p>
        <p class="card-text">{{item.sku_attribute2}}: {{item.sku_attribute_value2}}</p>
      </div>    
    </div>
    <div class="row"><div class="col-lg-12"  style=" height:5px;"></div></div>
  </div>
</div>




